.coin-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* flex-wrap: wrap; */
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  border-radius: 20px;
  background-color: #f2f9ff;
  margin-bottom: 1.3em;
  box-shadow: -8px -8px 20px 10px #fff,
    8px 8px 20px 10px rgb(108, 141, 194, 0.3);
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 240px;
}

.coin-percent {
  width: 80px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
