.coin-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  border-radius: 20px;
  background-color: #f2f9ff;
  margin-bottom: 1.3em;
  box-shadow: -8px -8px 20px 10px #fff,
    8px 8px 20px 10px rgb(108, 141, 194, 0.3);
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
}

.coin h1 {
  font-size: 12px;
  /* width: 150px; */
  width: 14%;
}

.coin img {
  height: 30px;
  width: 30px;
  /* width: 14%; */
  margin-right: 60px;
  margin-left: 20px;
}

.coin-symbol {
  text-transform: uppercase;
  width: 14%;
  margin-left: 50px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  /* width: 110px; */
  width: 14%;
}

.coin-volume {
  /* width: 200px; */
  width: 14%;
}

.coin-marketcap {
  /* width: 240px; */
  width: 14%;
}

.coin-percent {
  /* width: 80px; */
  width: 14%;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media (max-width: 890px) {
  .coin-container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .coin {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    width: 90%;
    font-size: 12px;
  }
  .coin-row {
    margin-bottom: 3em;
    height: 140px;
  }

  .coin img {
    margin-right: 0px;
    margin-left: 0px;
  }
  .coin-symbol {
    margin-left: 0px;
    width: 100%;
  }
  .coin-marketcap {
    /* width: 240px; */
    width: 100%;
  }
}
